<div class="store">
    <div class="element">
        <h1><a [routerLink]="['/profiles']"><i class="fa fa-users" style="color: white;" aria-hidden="true"></i></a> </h1>
        <h3>Profiles</h3>
    </div>
    <div class="element">
        <h1><a routerLink="/profiles" ><i class="fa fa-forumbee" aria-hidden="true"></i></a> </h1>
        <h3>Forum</h3>
    </div>
    <div class="element">
        <h1><a routerLink="/profiles" ><i class="fa fa-arrows" aria-hidden="true"></i></a> </h1>
        <h3>Roles</h3>
    </div>
    <div class="element">
        <h1><a routerLink="/profiles" ><i class="fa fa-linux" aria-hidden="true"></i></a> </h1>
        <h3>Technologies</h3>
    </div>
    <div class="element">
        <h1><a routerLink="/profiles" ><i class="fa fa-flag" aria-hidden="true"></i></a> </h1>
        <h3>Cities</h3>
    </div>
    <div class="element">
        <h1><a routerLink="/profiles" ><i class="fa fa-question" aria-hidden="true"></i></a> </h1>
        <h3>More info</h3>
    </div>
    
</div>